version: 2.1

orbs:
  orb-tools: circleci/orb-tools@2.0.0

workflows:
  btd:
    jobs:
      - orb-tools/publish:
          orb-path: orb.yml
          orb-ref: convox/orb@1.3.0
          publish-token-variable: "$CIRCLECI_DEV_API_TOKEN"
          validate: true
